div#footer
  div.container
    - year = new Date().getFullYear()
    p.muted.credit
      |Programa de Recompensas© 2011-
      =year
      |&nbsp;–&nbsp;Todos os direitos reservados.

script(type='text/javascript', src='/lib/jquery/js/jquery.min.js')
script(type='text/javascript', src='/lib/jquery-ui/js/jquery-ui.js')
script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/lib/angular/js/angular.min.js')
script(type='text/javascript', src='/lib/angular-route/js/angular-route.min.js')
script(type='text/javascript', src='/lib/angular-ui-date/js/date.js')
script(type='text/javascript', src='/js/spa.min.js')
