div#footer
  div.container
    - year = new Date().getFullYear()
    p.muted.credit
      |Programa de Recompensas© 2011-
      =year
      |&nbsp;–&nbsp;Todos os direitos reservados.

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')

//JQuery
script(type='text/javascript', src='/js/jquery.uriAnchor.js')
script(type='text/javascript', src='/js/jquery.event.gevent.js')
script(type='text/javascript', src='/js/jquery.event.ue.js')
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
script(type='text/javascript', src='/lib/jquery-maskedinputs/js/jquery.maskedinput.min.js')
