.container {
  width: auto;
  max-width: 837px;
  padding-bottom: 0;
  position: relative;
  min-height: 100%;
  padding: 54px 14px 15px;
  margin: 0 auto;
}

.container .content {
  width: auto;
  max-width: 835px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 225px rgba(255, 255, 255, .55);
  box-shadow: 0 0 225px rgba(255, 255, 255, .55);
}

.content {
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .1);
  background-clip: padding-box;
  position: relative;
  margin: 0 auto;
  min-width: 244px;
}

.container .login-form {
  width: auto;
  max-width: 585px;
  padding: 0 10px;
}

.login-form {
  margin: 0 auto 10px;
  display: block;
  clear: both;
}

.login-form h2 {
  padding: 20px 0 10px 0;
  clear: both;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.forgot {
  margin-left: 25px;
}

.form-control {
  width: 220px;
  margin-bottom: 5px;
}

.message {
  position: fixed;
  top: 45px;
  z-index: 7000;
  left: 0;
  right: 0;
}

.alert {
  background-color: rgba(242, 222, 222, .95);
  position: relative;
  margin: 0 auto;
  width: 300px;
}