<div class="check-out" data-ng-controller="CheckoutController">
  <form class="form-checkout">
    <fieldset>
      <legend>Check-out</legend>
      <div class="row">
        <div class="form-group hospedagem">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-3">
          <label for="date">Data</label>
          <input type="text" id="date" name="date" class="form-control" disabled="disabled"/>
        </div>
        <div class="form-group col-xs-3">
          <label for="price">Valor diárias</label>
          <input type="text" id="price" name="price" class="form-control" disabled="disabled"/>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" disabled="disabled">Check-out</button>
        <span class="help-inline"></span>
      </div>
    </fieldset>
  </form>
</div>