extends layouts/default

block init
  link(rel='stylesheet', href='/css/login.css')

block main
  nav.navbar.navbar-fixed-top.navbar-inverse
    div.navbar-header
      a.navbar-brand(href='/') Programa de Recompensas
  div.container
    div.content
      div.login-form
        h2 Faça o login para continuar
        form(action='/entrar', method='post')
          fieldset
            div.clearfix
              div.col-sm-6
                input.form-control(type='text', name='email', placeholder='Email')
            div.clearfix
              div.col-sm-6
                input.form-control(type='password', name='senha', placeholder='Senha')
            div.col-sm-3
              button.btn.btn-primary.btn-block(type='submit') Entrar
            a.forgot(href='/esqueci') Esqueceu a senha?
  if error
    div.message
      div.alert.alert-danger.alert-dismissable
        button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
        = error          
