!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  include ../includes/head
  body(data-ng-app='spa')
    div#wrap
      nav.navbar.navbar-fixed-top.navbar-inverse(data-ng-include="'partials/header.html'", data-ng-controller="NavbarController")
      div.container(data-ng-view)
      div#push
    include ../includes/foot
